pip>=24.0
setuptools>=69.0.0
wheel>=0.43.0
numpy>=2.0.0               #numpy<2.0
starlette<=0.46.2
fastapi==0.115.2
uvicorn[standard]>=0.30.0
gunicorn>=22.0.0
qdrant-client>=1.8.0
pydantic>=2.7.0
typing-extensions>=4.11.0
langchain>=0.2.11           #langchain-0.0.27
langchain-community>=0.0.28
transformers >= 4.44.0      #transformers==4.41.2
torch>=2.4.1                #torch==2.7.1
sentence-transformers==2.7.0 #sentenc-transformers==3.0.1
python-dotenv>=1.0.0
python-multipart>=0.0.7
pypdf>=4.0.0
huggingface_hub>=0.35.3
bitsandbytes>=0.43.0
accelerate>=0.33.0