numpy<2.0
chromadb==0.4.22
fastapi
uvicorn[standard]
gunicorn
qdrant-client
langchain
langchain-community
langchain-openai
langchain-huggingface
transformers
torch
sentence-transformers
python-dotenv
pypdf
pydantic
python-multipart
